.flexBox{
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem;
    padding-left: 0.5rem;
}

.flexSpace{
    display: flex;
    justify-content:space-between;
}

.green {
    color: green;
}

.red {
    color: red;
}

.card {
    margin: .2rem;
}